<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="id1" class="com.ibm.Categories" autowire="constructor">
		<property name="name" value="General Books" />
	</bean>
	<bean id="SomeThing" class="com.ibm.Book">
		<property name="bookname" value="The Kids" />
		<property name="bookprice" value="300" />
	</bean>

</beans>
